html{
    font-size: 1px;
}

body{
    margin: 0 auto;
}

svg{
    display: block; 
    margin: 40rem;
    width: 200rem;
    height: 200rem;
    border: 1rem dashed #ccc;
    animation: rotate 10s linear 1s 1 normal;
}

#sun{
    animation: sun 10s linear 1s 1 normal forwards;
}


#moon{
    opacity: 0;
    animation: moon 10s linear 1s 1 normal forwards;
}

@keyframes rotate{
    0%{
        background-color: #fff;
    }

    40%, 50%{
        background-color: darkblue;
    }

    100%{
        background-color: #fff;
    }
}

@keyframes sun{
    0%{
        transform: translate(0rem, 0rem);
    }

    30%{
        transform: translate(40rem, 0rem);
    }
    
    50%{
        transform: translate(110rem, 30rem);
        opacity: 0;
    }

    70%{
        transform: translate(-40rem, 50rem);
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes moon {
    0%{
        opacity: 0;
    }

    30%{
        transform: translate(-40rem, 50rem);
        opacity: 0;
    }

    50%{
        transform: translate(0rem, 0rem);
        opacity: 1;
    }
    70%{
        transform: translate(40rem, 0rem);
    }
    
    90%{
        transform: translate(110rem, 30rem);
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}